div {
    border: 1px #000000 solid;
    padding: 3px;
    box-sizing: border-box;
}

.bandera {
    width: 400px;
    height: 250px;
    padding: 0px !important;
    box-sizing: border-box !important;
    position: relative;
}

.bandera div {
    padding: 0px !important;
    margin: 0px !important;
    border:none;
    box-sizing: border-box !important;
}

.colombia_amarillo {
    background-color:yellow ;
    width: 398px;
    height: 120px;
}

.colombia_azul {
    background-color: blue;
    width: 398px;
    height: 64px;
}

.colombia_rojo {
    background-color: red;
    width: 398px;
    height: 64px;
}

.mexico_verde {
    background-color: green;
    width: 130px;
    height: 248px;
    display: inline-block;
}

.mexico_blanco {
    background-color: white;
    width: 130px;
    height: 248px;
    display: inline-block;
    position: relative;
}

.escudo_mexico {
    width: 65%;
    position: absolute;
    top: 85px;
    left: 20px;
}

.mexico_rojo {
    background-color: red;
    width: 130px;
    height: 248px;
    display: inline-block;
}

.espana_rojo {
    background-color: red;
    width: 398px;
    height: 65px;
}

.espana_amarillo {
    background-color: yellow;
    width: 398px;
    height: 118px;
    position: relative;
}

.escudo_espana {
    width: 22%;
    position: absolute;
    top: 10px;
    left: 80px;
}

.japon_blanco {
    background-color: white;
    width: 398px;
    height: 248px;
    position: absolute;
}

.circulo_rojo {
    width: 150px; 
     height: 150px; 
     background: red;
     position: relative;
     top: 50px;
     left: 125px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}

.islandia_azul {
    background-color: blue;
    width: 398px;
    height: 248px;
    position: absolute; 
}

.blanco_horizontal {
    background: white;
    width: 398px;
    height: 70px;
    position: relative;
    top: 90px;
}

.blanco_vertical {
    background: white;
    width: 70px;
    height: 248px;
    position: relative;
    top: -70px;
    left: 85px; 
}

.rojo_horizontal {
    background: red;
    width: 398px;
    height: 30px;
    position: relative;
    top: -208px;
}

.rojo_vertical {
    background: red;
    width: 30px;
    height: 248px;
    position: relative;
    top: -348px;
    left: 105px; 
}

.chile_azul {
    background-color: blue;
    width: 125px;
    height: 125px;
}

#estrella {
    margin: 50px 0;
    position: absolute;
    display: block;
    color: rgb(255, 255, 255);
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-bottom: 20px solid rgb(255, 255, 255);
    border-left: 50px solid transparent;
    transform: rotate(35deg);
    position: absolute;
    top: 50px;
    left: 10px;
    }
    #estrella:before {
    border-bottom: 60px solid rgb(255, 255, 255);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -33px;
    left: -27px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    }
    #estrella:after {
    position: absolute;
    display: block;
    color: rgb(255, 255, 255);
    top: -5px;
    left: -55px;
    width: 15px;
    height: 10px;
    border-right: 40px solid transparent;
    border-bottom: 20px solid rgb(255, 255, 255);
    border-left: 40px solid transparent;
    transform: rotate(-70deg);
    content: '';
    }

.chile_blanco {
    background-color:white;
    width: 136px;
    height: 125px;
    display: inline;
}

.chile_rojo {
    background-color: red;
    width: 398px;
    height: 123px;
}

.brasil_verde {
    background-color: green;
    width: 398px;
    height: 248px;
}

#rombo {
    width: 0;
    height: 0;
    border: 180px solid transparent;
    border-bottom: 90px solid yellow;
    position: relative;
    top: -393px;
    left: 19px;
  }
  #rombo:after {
    content: '';
    position: absolute;
    left: -180px;
    top: 90px;
    width: 0;
    height: 0;
    border: 180px solid transparent;
    border-top: 90px solid yellow;
  }

  .circulo_azul {
    width: 130px; 
     height: 130px; 
     background:blue;
     position: relative;
     top: -458px;
     left: 134px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}

.pakistan_blanco {
    background-color:white;
    width: 110px;
    height: 248px;
    display: inline-block;
    
}

.pakistan_verde {
    background-color: green;
    width: 284px;
    height: 248px;
    display: inline-block;
    
}

#estrella_pakistan {
    margin: 50px 0;
    position: relative;
    display: block;
    color: rgb(255, 255, 255);
    width: 0px;
    height: 0px;
    border-right: 26px solid transparent;
    border-bottom: 11px solid rgb(255, 255, 255);
    border-left: 26px solid transparent;
    transform: rotate(16deg);
    position: relative;
    top: -170px;
    left: 250px;
    }
    #estrella_pakistan:before {
    border-bottom: 30px solid rgb(255, 255, 255);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: relative;
    height: 0;
    width: 0;
    top: -19px;
    left: -16px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    }
    #estrella_pakistan:after {
    position: absolute;
    display: block;
    color: rgb(255, 255, 255);
    top: -5px;
    left: -34px;
    width: 15px;
    height: 10px;
    border-right: 20px solid transparent;
    border-bottom: 8px solid rgb(255, 255, 255);
    border-left: 20px solid transparent;
    transform: rotate(-70deg);
    content: '';
    }

    #luna {
    width: 125px;
    height: 125px;
    border-radius: 80%;
    box-shadow: 15px 15px 0 0 white;
    position: absolute;
    top: 45px;
    left: 200px;
    transform: rotate(90deg)
    }

.corea_blanco {
    background-color: white;
    width: 398px;
    height: 248px;
}

.trigrama_corea {
    width: 66%;
    position: absolute;
    top: 22px;
    left: 66px;
}

#yin-yang {
    position: relative;
    background: blue;
    height: 120px;
    border-color: red;
    border-style: solid ;
    width: 120px; 
    border-width: 2px 50px 2px 2px;
    border-radius: 100%;
    top: -184px;
    left: 140px;
    transform: rotate(95deg)
  }
  #yin-yang:before {
    content: '';
    position: absolute;
    top: 0;
    left: 60%;
    background: red;
    border: 17px solid red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }

  #yin-yang:after {
    content: '';
    position: absolute;
    top: 49%;
    left: 40%;
    background: blue;
    border: 17px solid blue;
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }